<form class="form">
	<fieldset>
		<div class="input-append">
			{{id}}
			<input name='dxInput' type="text" class="input-small" value="{{dx}}" size='4' autofocus><span class="add-on">width</span>
		</div>
	</fieldset>

	<fieldset>
		<div class="input-append">
			<input name='dyInput' type="text" class="input-small" value="{{dy}}" size='4'><span class="add-on">height</span>
		</div>
	</fieldset>

	<fieldset>
		<button type="submit" class="btn">Go!</button>
	</fieldset>
	{{#if id}}<small><span class="label label-info">perma-link:</span> <a href="maths/ra_triangles/{{id}}" data-local="true">{{id}}</a></small>{{/if}}


</form>
